* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --text-color: #efead6;
    --bg-color: #000;
    --main-color: #ffa343;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --h3-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    margin: 22px;
    transition: all .50s ease;
    padding-top: 10px;
    text-decoration: none;
}
.navbar a:hover {
    color: var(--main-color);
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a:first-child {
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 20px;
}
.h-right a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    text-decoration: none;
}

.carousel-inner {
    margin-bottom: 20px;
}

.card {
    margin-bottom: auto;
}

.col {
    margin-bottom: 20px;
}